@import "tailwindcss";

body {
  padding: 0;
  background: #f2f2f2;
  overflow-x: hidden;
}

.carrousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
